import(methods)
#importFrom("graphics",plot)
#importFrom("flexmix",flexmix)

export(
	coefglm,
	coefmclust,
	flexmix.Density,
	flexmix.Estimate,
	FLXmclust.Density,
	FLXmclust.Estimate
      )

exportClasses(
		TLE,
		summary.TLE
	     )

exportMethods(
		tleplot,
		TLE,
		summary,
		show,
		plot,
		estimate
	     )
